@import url(http://fonts.googleapis.com/css?family=Boogaloo);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);
@import url(https://fonts.googleapis.com/css?family=Raleway);
.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.roundedTop {
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px; }

.yellow-canvas .form input[type="submit"], #auth_box #middle_part form input[type="submit"] {
  color: #33571B;
  background: #f1db00;
  border: none;
  padding: 5px 15px; }
  .yellow-canvas .form input[type="submit"]:hover, #auth_box #middle_part form input[type="submit"]:hover {
    color: #61a534; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 26px;
  background: #bfc773;
  height: 100%;
  width: 100%; }

p {
  margin-bottom: 15px; }

h1, h2, h3, h4 {
  padding-bottom: 12px; }

h1 {
  font-size: 30px;
  line-height: 1.3em; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

a {
  color: #f1db00; }
  a:hover {
    text-decoration: none;
    color: #ffffff; }

.navbar-fixed-top {
  background: #61a534; }

.navbar-default {
  border-bottom: solid 1px #f1db00; }
  .navbar-default .navbar-toggle {
    border-color: #f1db00;
    border-radius: 0px; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #f1db00; }
    .navbar-default .navbar-toggle:hover {
      background-color: #61a534; }
  .navbar-default .navbar-nav li a, .navbar-default .navbar-right li a {
    color: #f1db00; }
    .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-right li a:hover {
      color: #33571B;
      text-shadow: none; }
  .navbar-default .navbar-right {
    border: solid 1px #f1db00; }

header {
  min-height: 300px;
  background: url("../images/palm-leaves-250-min.png") no-repeat right 50px;
  display: flex;
  flex-direction: column;
  position: relative; }
  header .experience {
    position: absolute;
    margin-top: 20px;
    float: left;
    z-index: 200;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.4s ease-in-out; }
  header .experience.stick {
    position: fixed;
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    transition: all 0.4s ease-in-out;
    top: 10px; }
  header .site-name {
    position: absolute;
    width: 90%;
    font-size: 32px;
    margin-top: 80px;
    color: white;
    padding: 18px 0 18px 100px;
    margin-left: 10%;
    background: #f1db00;
    z-index: -100; }
  header .acties {
    position: absolute;
    margin-left: 90%;
    top: 80px;
    height: 87px;
    width: 87px;
    background: url("../images/Infobox_info_icon.svg-min.png") no-repeat center; }
    header .acties:hover {
      background: url("../images/Infobox_info_icon.svg-hover-min.png") no-repeat center; }

.margin-bottom {
  margin-bottom: 10px; }

.center {
  margin-bottom: 20px; }
  .center .main-wrap, .center .main-wrap-top {
    background: rgba(0, 0, 0, 0.3);
    padding: 25px 0;
    min-height: 350px;
    margin-top: 100px; }
  .center .main-wrap-top {
    margin-top: -100px; }
  .center .main-wrap-acties .yellow-canvas {
    color: #61a534; }

.green-canvas {
  background: #61a534;
  max-width: 60%;
  color: white;
  min-height: 300px;
  padding: 2%;
  margin: 2% auto; }
  .green-canvas img {
    width: 95%;
    height: auto; }
  .green-canvas .image-wrap {
    padding-top: 5%; }
  .green-canvas .content {
    padding: 2%; }

.yellow-canvas {
  max-width: 60%;
  color: white;
  min-height: 300px;
  padding: 2%;
  margin: 2% auto;
  background: #f1db00; }
  .yellow-canvas .mention {
    background: #61a534;
    padding: 25px;
    margin-top: 80px; }
    .yellow-canvas .mention .mention-text {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 35px; }
    .yellow-canvas .mention .arrow-down {
      display: none; }
    .yellow-canvas .mention .arrow {
      font-size: 62px; }
  .yellow-canvas a {
    color: #ffffff; }
    .yellow-canvas a:hover {
      text-decoration: none;
      color: #61a534; }
  .yellow-canvas .form {
    background: #61a534;
    padding: 25px;
    overflow: hidden; }
    .yellow-canvas .form .webform-component {
      display: flex; }
    .yellow-canvas .form label {
      min-width: 25%;
      line-height: 40px; }
    .yellow-canvas .form input[type='text'], .yellow-canvas .form input[type='email'], .yellow-canvas .form .form-textarea-wrapper, .yellow-canvas .form textarea {
      width: 75%;
      float: right;
      clear: both;
      padding: 5px;
      color: #61a534; }
    .yellow-canvas .form .form-textarea-wrapper {
      padding: 0px;
      margin: 0 0 15px; }
    .yellow-canvas .form textarea {
      width: 100%; }
    .yellow-canvas .form input[type="submit"] {
      float: right;
      clear: both; }
    .yellow-canvas .form .resizable-textarea .grippie {
      display: none; }

.main-wrap-acties {
  margin: 100px 0; }
  .main-wrap-acties .darkgreen {
    color: #33571B; }

/* =======================================================================
## ++ Footer region
========================================================================== */
footer .footer-wrap {
  margin-bottom: 100px; }
  footer .footer-wrap .footer-canvas .address {
    font-size: 20px; }
    footer .footer-wrap .footer-canvas .address .mail a {
      color: #ffffff; }
      footer .footer-wrap .footer-canvas .address .mail a:hover {
        color: #f1db00;
        text-decoration: none; }
  footer .footer-wrap .footer-right a {
    text-decoration: none;
    color: #ffffff; }
footer .phone-mobile {
  display: none;
  margin: 15px 0; }
  footer .phone-mobile .btn {
    width: 100%; }
  footer .phone-mobile .btn-info {
    color: #33571B;
    background: #f1db00;
    border: none;
    padding: 5px 15px;
    padding: 10px; }
    footer .phone-mobile .btn-info:hover {
      color: #61a534; }

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%; } }
@media (max-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%; } }
/*
* Masonry js deze is uitgeschakeld heeft helemaal
* geen nut op deze site en gaf ook problemen
* foto's werden some over elkaar getoond.
=========================================*/
.realisaties h2.title_realizations {
  margin-bottom: 30px; }
.realisaties .green-canvas {
  overflow: hidden; }

.grid {
  overflow: hidden; }
  .grid .grid-item {
    width: 195px;
    float: left;
    margin-right: 0px; }
  .grid .grid-item--width2 {
    width: 390px;
    padding-bottom: 7px; }
  .grid .img-over-effect:hover {
    filter: alpha(opacity=80);
    -ms-filter: "alpha(opacity=80)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8; }

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(97, 165, 52, 0.8) url("../images/cd-top-arrow.svg") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }
  .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  .cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  .cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5; }
  .no-touch .cd-top:hover {
    background-color: #33571B;
    opacity: 1; }

.profile ul.user_linken {
  margin-left: 50px; }

ul.primary {
  min-height: 30px; }
  ul.primary li.active a {
    background-color: #61a534;
    padding: 9px; }
    ul.primary li.active a:hover {
      background-color: black;
      color: #f1db00; }
  ul.primary li a {
    background-color: black;
    padding: 9px; }
    ul.primary li a:hover {
      background-color: #0f0f0f; }

body.page-user-login, body.page-user-password {
  background: url("../video/jasmine_flower_127/snapshot-min.PNG") no-repeat center center fixed;
  background-size: cover; }

#auth_box {
  background: #61a534;
  width: 600px;
  margin-top: 50px; }
  #auth_box h2.title {
    color: #ffffff; }
  #auth_box #top_part {
    border-bottom: solid 1px #f1db00; }
    #auth_box #top_part h1#the_logo {
      padding: 0 0 50px; }
      #auth_box #top_part h1#the_logo img {
        max-width: 100%; }
      #auth_box #top_part h1#the_logo a {
        color: #f1db00; }
  #auth_box #middle_part {
    background: #61a534;
    padding: 25px;
    box-shadow: none;
    width: 310px;
    margin: auto; }
    #auth_box #middle_part form label {
      width: 150px;
      color: #ffffff; }
    #auth_box #middle_part form input[type="text"], #auth_box #middle_part form input[type="password"] {
      border: solid 1px #61a534;
      border-radius: 0px; }
  #auth_box #bottom_part {
    padding: 25px;
    border-top: solid 1px #f1db00; }
    #auth_box #bottom_part .password_link a, #auth_box #bottom_part .back_link a {
      color: #f1db00; }

.yellow-canvas .form input[type="submit"], #auth_box #middle_part form input[type="submit"] {
  color: #33571B;
  background: #f1db00;
  border: none;
  padding: 5px 15px; }
  .yellow-canvas .form input[type="submit"]:hover, #auth_box #middle_part form input[type="submit"]:hover {
    color: #61a534; }

@media only screen and (max-width: 1366px) {
  /* css code voor tablets in landscape mode
  De 1366px op aanraden van Koen (was 1024)*/
  .green-canvas {
    max-width: 90%; }

  .yellow-canvas {
    max-width: 90%; } }
@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav, .navbar-default .navbar-right {
    float: none !important;
    margin: 7.5px -15px; }

  .navbar-nav > li, .navbar-default .navbar-right > li {
    float: none; }

  .navbar-nav > li > a, .navbar-default .navbar-right > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-text {
    float: none;
    margin: 15px 0; }

  /* bij versie 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; } }
@media only screen and (max-width: 960px) {
  /* css code voor tablets in portrait mode */
  header .acties {
    margin-left: 85%; }

  .yellow-canvas {
    max-width: 90%; }
    .yellow-canvas .mention {
      margin-top: 0px; }
      .yellow-canvas .mention .arrow-right {
        display: none; }
      .yellow-canvas .mention .arrow-down {
        display: block; } }
@media only screen and (max-width: 767px) {
  /* css code voor smartphones in landscape mode */
  header {
    background: none; }
    header .experience {
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
      margin-left: 0px; }
    header .acties {
      margin-left: 80%; }
    header .site-name {
      padding: 18px 0 18px 125px;
      font-size: 28px; } }
@media only screen and (max-width: 479px) {
  /* css code voor smartphones in portrait mode */
  h1 {
    font-size: 27px; }

  h2 {
    font-size: 23px; }

  h3 {
    font-size: 19px; }

  h4 {
    font-size: 15px; }

  header {
    min-height: 200px; }
    header .experience {
      -moz-transform: scale(0.6);
      -o-transform: scale(0.6);
      -ms-transform: scale(0.6);
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
      margin-left: -30px; }
    header .experience.stick {
      position: fixed;
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      transform: scale(0); }
    header .site-name {
      font-size: 20px;
      margin-top: 80px;
      padding: 18px 0 18px 100px;
      margin-left: 10%; }
    header .actie-wrap {
      display: none; }

  .green-canvas {
    max-width: 90%; }

  .yellow-canvas .form input[type="text"], .yellow-canvas .form #auth_box #middle_part form input[type="password"], #auth_box #middle_part form .yellow-canvas .form input[type="password"] {
    width: 100%; }
  .yellow-canvas .form input[type="email"] {
    width: 100%; }
  .yellow-canvas .form textarea {
    width: 100%; }
  .yellow-canvas .form input[type="submit"] {
    margin-left: 0; }
  .yellow-canvas .form .form-textarea-wrapper {
    float: none;
    padding: 0px;
    margin: 0 0 15px;
    width: 100%; }

  .image-wrap {
    display: none; }

  .center .main-wrap, .center .main-wrap-top {
    margin-top: 25px; }

  .grid .grid-item, .grid .grid-item--width2 {
    width: 100%; }

  footer .phone-mobile {
    display: block; }
  footer .phone-screen {
    display: none; } }
#toolbar {
  margin: 50px -20px; }

/*# sourceMappingURL=style.css.map */
