@import "reset";
@import "basicfonts";
@import "transform";
@import "roundcorners";
@import "opacity";

$yellow: #f1db00;
$green: #61a534;
$grey: #eaeadf;
$margin-b: 10px;
$field_width: 100%;

body {
  margin: 0;
  font-family: $font-raleway;
  line-height: 26px;
  background: #bfc773;
  height: 100%;
  width: 100%;
  &.page-user-login {
    background: url("../video/jasmine_flower_127/snapshot-min.PNG") no-repeat center center fixed;
    background-size: cover;
  }
}

p {
  margin-bottom: 15px;
}

h1, h2, h3, h4 {
  padding-bottom: 12px;
}

h1 {
  padding: 12px 0 20px;
  font-size: $fontsize-basic +18;
}

h2 {
  @extend h1;
  font-size: $fontsize-basic +14;
}

h3 {
  @extend h1;
  font-size: $fontsize-basic +10;
}

a {
  color: $yellow;
  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

.margin-bottom {
  margin-bottom: $margin-b;
}

// de login pagina better login

#auth_box {
  #top_part {
    h1 {
      &#the_logo {
        img {
          max-width: 100%;
        }
        a {
          color: $yellow;
        }
      }
    }
  }
  #bottom_part {
    .password_link {
      a {
        color: $yellow;
      }
    }
    .back_link {
      @extend .password_link;
    }
  }
}

//video background

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//dit om de video te centeren
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

/*
* Navigation
*/

.navbar-fixed-top {
  background: $green;
}

.navbar-default {
  border-bottom: solid 1px $yellow;

  .navbar-toggle {
    border-color: $yellow;
    border-radius: 0px;
    .icon-bar {
      background-color: $yellow;
    }
    &:hover {
      background-color: $green;
    }
  }
  .navbar-nav {
    li {
      a {
        color: $yellow;
      }
    }
  }
  .navbar-right {
    @extend .navbar-nav;
    border: solid 1px $yellow;
  }
}

/*
* Header region
*/
header {
  min-height: 300px;
  background: url("../images/palm-leaves-250-min.png") no-repeat right 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  .experience {
    position: absolute;
    margin-top: 20px;
    //height: 250px;
    //width: 250px;
    float: left;
    z-index: 200;
    @include scale(1);
    transition: all 0.4s ease-in-out;
  }
  .experience.stick {
    position: fixed;
    @include scale(0.7);
    transition: all 0.4s ease-in-out;
    top: 10px;
  }
  .site-name {
    position: absolute;
    width: 90%;
    font-size: $fontsize-basic +20;
    margin-top: 80px;
    color: white;
    padding: 18px 0 18px 100px;
    margin-left: 10%;
    background: $yellow;
    z-index: -100;
  }
  .acties {
    position: absolute;
    margin-left: 90%;
    top: 80px;
    height: 87px;
    width: 87px;
    background: url("../images/Infobox_info_icon.svg-min.png") no-repeat center;
    &:hover {
      background: url("../images/Infobox_info_icon.svg-hover-min.png") no-repeat center;
    }
  }
}

.center {
  margin-bottom: 20px;
  .main-wrap {
    background: rgba(0, 0, 0, 0.3);
    padding: 25px 0;
    min-height: 350px;
    margin-top: 100px;
  }
  .main-wrap-top {
    @extend .main-wrap;
    margin-top: -100px;
  }
  .main-wrap-acties {
    .yellow-canvas {
      color: $green;
    }
  }
}

.green-canvas {
  background: $green;
  max-width: 60%;
  color: white;
  min-height: 300px;
  padding: 2%;
  margin: 2% auto;
  img {
    width: 95%;
    height: auto;
  }
  .image-wrap {
    padding-top: 5%;
  }
  .content {
    padding: 2%;
  }
}

//contactform region
.yellow-canvas {
  max-width: 60%;
  color: white;
  min-height: 300px;
  padding: 2%;
  margin: 2% auto;
  background: $yellow;
  .mention {
    //aankondiging contactform
    background: $green;
    padding: 25px;
    margin-top: 80px;
    p {
      font-size: $fontsize-basic +10;
      font-weight: bold;
    }
    .arrow-down {
      display: none;
    }
    .arrow {
      font-size: $fontsize-basic +50;
    }
  }
  a {
    color: #ffffff;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  .form {
    background: $green;
    padding: 25px;
    overflow: hidden;
    label {
      min-width: 25%;
      line-height: 40px;
    }
    input[type='text'] {
      width: 75%;
      float: right;
      clear: both;
      padding: 5px;
      color: $green;
    }
    input[type='email'] {
      @extend input[type='text'];
    }
    .form-textarea-wrapper {
      @extend input[type='text'];
      padding: 0px;
      margin: 0 0 15px;
    }
    textarea {
      @extend input[type='text'];
      width: 100%;
    }
    input[type="submit"] {
      background: $yellow;
      border: none;
      padding: 5px 15px;
      float: right;
      clear: both;
    }
    .resizable-textarea .grippie {
      display: none;
    }
  }
}

// footer region
footer {
  .footer-wrap {
    .footer-canvas {
      .address {
        font-size: $fontsize-basic +8;
        .mail {
          a {
            color: #ffffff;
            &:hover {
              color: $yellow;
              text-decoration: none;
            }
          }
        }
      }
    }
    .footer-right {
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
  .phone-mobile {
    display: none;
    margin: 15px 0;
    .btn {
      width: 100%;
    }
    .btn-info {
      background: $yellow;
      @include roundcorners(0px);
      border: none;
      color: $green;
      padding: 10px;
      &:hover {
        color: #ffffff;
        background: $yellow;
      }
    }
  }
}

/*
*media query's
*/

@media only screen and (max-width: 1366px) {
  /* css code voor tablets in landscape mode
  De 1366px op aanraden van Koen (was 1024)*/
  .green-canvas {
    max-width: 90%;
  }
  .yellow-canvas {
    max-width: 90%;
  }
}

// dit om bij sm de nav reeds te collapse
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* bij versie 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .collapsing {
    overflow: hidden !important;
  }
}

@media only screen and (max-width: 960px) {
  /* css code voor tablets in portrait mode */
  header {
    .acties {
      margin-left: 85%;
    }
  }
}

@media only screen and (max-width: 767px) {
  /* css code voor smartphones in landscape mode */
  header {
    background: none;
    .experience {
      @include scale(0.8);
      margin-left: 0px;
    }
    .acties {
      margin-left: 80%;
    }
    .site-name {
      padding: 18px 0 18px 125px;
      font-size: $fontsize-basic +16;
    }
  }
}

@media only screen and (max-width: 479px) {
  /* css code voor smartphones in portrait mode */

  header {
    min-height: 200px;
    .experience {
      @include scale(0.6);
      margin-left: -30px;
    }
    .experience.stick {
      position: fixed;
      @include scale(0);
    }
    .site-name {
      font-size: $fontsize-basic +8;
      margin-top: 80px;
      padding: 18px 0 18px 100px;
      margin-left: 10%;
    }
    //als test uitgeschakeld
    .actie-wrap {
      display: none;
    }
  }

  .green-canvas {
    max-width: 90%;
  }
  .yellow-canvas {
    max-width: 90%;
    .mention {
      margin-top: 0px;
      .arrow-right {
        display: none;
      }
      .arrow-down {
        display: block;
      }
    }
    .form {
      input[type="text"] {
        width: $field_width;
      }
      input[type="email"] {
        width: $field_width;
      }
      textarea {
        width: $field_width;
      }
      input[type="submit"] {
        margin-left: 0;
      }
      .form-textarea-wrapper {
        float: none;
        padding: 0px;
        margin: 0 0 15px;
        width: 100%;
      }
    }
  }

  .image-wrap {
    display: none;
  }

  .center {
    .main-wrap {
      margin-top: 25px;
    }
  }

  footer {
    .phone-mobile {
      display: block;
    }
    .phone-screen {
      display: none;
    }
  }

}

// aanpassingen adminimal/beheerthema
// dit om de admin toolbar onder de nav-bar te tonen
// dit enkel voor de administrator
#toolbar {
  margin: 50px -20px;
}


