@import "reset";
@import "basicfonts";
@import "transform";
@import "roundcorners";
@import "opacity";

//variabeles
@import "variables";

body {
  margin: 0;
  font-family: $font-raleway;
  line-height: 26px;
  background: #bfc773;
  height: 100%;
  width: 100%;
  // Betterlogin - om de achtergrond afbeelding op zowel de login- en reset-paswoord pagina te plaatsen
  &.page-user-login {
    background: url("../video/jasmine_flower_127/snapshot-min.PNG") no-repeat center center fixed;
    background-size: cover;
  }
  &.page-user-password {
    @extend .page-user-login;
  }
}

p {
  margin-bottom: 15px;
}

h1, h2, h3, h4 {
  padding-bottom: 12px;
}

h1 {
  font: {
    size: $fontsize-basic +18;
  }
  line-height: 1.3em;
}

h2 {
  font: {
    size: $fontsize-basic +14;
  }
}

h3 {
  font: {
    size: $fontsize-basic +10;
  }
}

h4 {
  font: {
    size: $fontsize-basic +6;
  }
}

a {
  color: $yellow;
  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

.margin-bottom {
  margin-bottom: $margin-b;
}

//video background

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//dit om de video te centeren
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

/*
* Navigation
*/

.navbar-fixed-top {
  background: $green;
}

.navbar-default {
  border-bottom: solid 1px $yellow;

  .navbar-toggle {
    border-color: $yellow;
    border-radius: 0px;
    .icon-bar {
      background-color: $yellow;
    }
    &:hover {
      background-color: $green;
    }
  }
  .navbar-nav {
    li {
      a {
        color: $yellow;
        &:hover {
          color: $darkgreen;
          text-shadow: none;
        }
      }
    }
  }
  .navbar-right {
    @extend .navbar-nav;
    border: solid 1px $yellow;
  }
}

/*
* Header region
*/
header {
  min-height: 300px;
  background: url("../images/palm-leaves-250-min.png") no-repeat right 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  .experience {
    position: absolute;
    margin-top: 20px;
    //height: 250px;
    //width: 250px;
    float: left;
    z-index: 200;
    @include scale(1);
    transition: all 0.4s ease-in-out;
  }
  .experience.stick {
    position: fixed;
    @include scale(0.7);
    transition: all 0.4s ease-in-out;
    top: 10px;
  }
  .site-name {
    position: absolute;
    width: 90%;
    font-size: $fontsize-basic +20;
    margin-top: 80px;
    color: white;
    padding: 18px 0 18px 100px;
    margin-left: 10%;
    background: $yellow;
    z-index: -100;
  }
  .acties {
    position: absolute;
    margin-left: 90%;
    top: 80px;
    height: 87px;
    width: 87px;
    background: url("../images/Infobox_info_icon.svg-min.png") no-repeat center;
    &:hover {
      background: url("../images/Infobox_info_icon.svg-hover-min.png") no-repeat center;
    }
  }
}

.center {
  margin-bottom: 20px;
  .main-wrap {
    background: rgba(0, 0, 0, 0.3);
    padding: 25px 0;
    min-height: 350px;
    margin-top: 100px;
  }
  .main-wrap-top {
    @extend .main-wrap;
    margin-top: -100px;
  }
  .main-wrap-acties {
    .yellow-canvas {
      color: $green;
    }
  }
}

.green-canvas {
  background: $green;
  max-width: 60%;
  color: white;
  min-height: 300px;
  padding: 2%;
  margin: 2% auto;
  img {
    width: 95%;
    height: auto;
  }
  .image-wrap {
    padding-top: 5%;
  }
  .content {
    padding: 2%;
  }
}

//contactform region
.yellow-canvas {
  max-width: 60%;
  color: white;
  min-height: 300px;
  padding: 2%;
  margin: 2% auto;
  background: $yellow;
  .mention {
    //aankondiging contactform
    background: $green;
    padding: 25px;
    margin-top: 80px;
    .mention-text {
      font-size: $fontsize-basic +10;
      font-weight: bold;
      margin-bottom: 35px;
    }
    .arrow-down {
      display: none;
    }
    .arrow {
      font-size: $fontsize-basic +50;
    }
  }
  a {
    color: #ffffff;
    &:hover {
      text-decoration: none;
      color: $green;
    }
  }
  .form {
    background: $green;
    padding: 25px;
    overflow: hidden;
    .webform-component {
      display: flex;
    }
    label {
      min-width: 25%;
      line-height: 40px;
    }
    input[type='text'] {
      width: 75%;
      float: right;
      clear: both;
      padding: 5px;
      color: $green;
    }
    input[type='email'] {
      @extend input[type='text'];
    }
    .form-textarea-wrapper {
      @extend input[type='text'];
      padding: 0px;
      margin: 0 0 15px;
    }
    textarea {
      @extend input[type='text'];
      width: 100%;
    }
    input[type="submit"] {
      background: $yellow;
      color: $darkgreen;
      border: none;
      padding: 5px 15px;
      float: right;
      clear: both;
      &:hover {
        color: $green;
      }
    }
    .resizable-textarea .grippie {
      display: none;
    }
  }
}
/*
* acties
==========================================*/
.main-wrap-acties {
  margin: 100px 0;
  .darkgreen {
    color: $darkgreen;
  }
}

// footer region
footer {
  .footer-wrap {
    margin-bottom: 100px;
    .footer-canvas {
      .address {
        font-size: $fontsize-basic +8;
        .mail {
          a {
            color: #ffffff;
            &:hover {
              color: $yellow;
              text-decoration: none;
            }
          }
        }
      }
    }
    .footer-right {
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
  .phone-mobile {
    display: none;
    margin: 15px 0;
    .btn {
      width: 100%;
    }
    .btn-info {
      background: $yellow;
      @include roundcorners(0px);
      border: none;
      color: $green;
      padding: 10px;
      &:hover {
        color: #ffffff;
        background: $yellow;
      }
    }
  }
}

//Masonry
@import "masonry";

//To top
@import "to-top";

//Profile page
@import "profile";

//Better login page
@import "better-login";

// media query's
@import "media-querys";