/* =======================================================================
## ++ Footer region
========================================================================== */
footer {
  .footer-wrap {
    margin-bottom: 100px;
    .footer-canvas {
      .address {
        font-size: $fontsize-basic +8;
        .mail {
          a {
            color: #ffffff;
            &:hover {
              color: $yellow;
              text-decoration: none;
            }
          }
        }
      }
    }
    .footer-right {
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
  .phone-mobile {
    display: none;
    margin: 15px 0;
    .btn {
      width: 100%;
    }
    .btn-info {
      @include button();
      padding: 10px;
    }
  }
}