// =======================================================================
// ## ++ login pagina better login
// =======================================================================

body {
  // Betterlogin - om de achtergrond afbeelding op zowel de login- en reset-paswoord pagina te plaatsen
  &.page-user-login {
    background: url("../video/jasmine_flower_127/snapshot-min.PNG") no-repeat center center fixed;
    background-size: cover;
  }
  &.page-user-password {
    @extend .page-user-login;
  }
}
#auth_box {
  background: $green;
  width: 600px;
  margin-top: 50px;
  h2 {
    &.title {
      color: #ffffff;
    }
  }
  #top_part {
    border-bottom: solid 1px $yellow;
    h1 {
      &#the_logo {
        padding: 0 0 50px;
        img {
          max-width: 100%;
        }
        a {
          color: $yellow;
        }
      }
    }
  }
  #middle_part {
    background: $green;
    padding: 25px;
    box-shadow: none;
    width: 310px;
    margin: auto;
    form {
      label {
        width: 150px;
        color: #ffffff;
      }
      input[type="text"] {
        border: solid 1px $green;
        border-radius: 0px;
      }
      input[type="password"] {
        @extend input[type="text"];
      }
      input[type="submit"] {
        background: $yellow;
        color: $darkgreen;
        border: none;
        padding: 5px 15px;
        &:hover {
          color: $green;
        }
      }
    }
  }
  #bottom_part {
    padding: 25px;
    border-top: solid 1px $yellow;
    .password_link {
      a {
        color: $yellow;
      }
    }
    .back_link {
      @extend .password_link;
    }
  }
}
